<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title><%= title %></title>
  
  <link rel="stylesheet" type="text/css" href="../media/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../media/css/main.css">
  <script type="text/javascript" src="../socket.io/socket.io.js"></script>
  <script type="text/javascript" src="../media/js/popper.min.js"></script>
  <script type="text/javascript" src="../media/js/bootstrap.js"></script>
  <script type="text/javascript" src="../media/js/jquery-3.7.0.min.js"></script>
  <script type="text/javascript" src="../media/js/main.js"></script>
</head>
<body class="d-flex bg-body-tertiary">
  <main class="w-100 m-auto">
    <form>
      <p class="display-1 mb-3 fw-normal text-center">ОШИБКА 404</p>
      <p class="display-5 mb-3 fw-normal text-center">Ты хули тут забыл? Здесь ничего нет.</p>
      <p class="mt-5 mb-3 text-body-secondary text-center">© КЛОWNS 2023</p>
    </form>
  </main>
</body>
</html>